/*======================================
  Sliders
======================================*/

.slide-full {
  width: 100%;
  height: 454px;
  //background: black;
  .item {
    width: 100%;
    background: $color-blue;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: transparent;
    color: $color-white;
    font-size: 35px;
    margin-top: -23px;
    &.slick-prev {
      left: 50%;
      margin-left: -575px;
    }
    &.slick-next {
      right: 50%;
      margin-right: -575px;
    }
  }
}

.search-box {
  width: 100%;
  border: 1px solid #E9ECEF;
  display: flex;
  border-radius: 4px;
  background-color: $color-white;
  input {
    width: 100%;
    padding: 10px 21px 12px 21px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #515151;
    border: none;
    background: transparent;
    outline: none;
  }
  button {
    width: 50px;
    border: none;
    background: transparent;
    padding: 3px 6px 0 0px;
    .icon {
      width: 30px;
      height: 30px;
      fill: transparent;
      stroke: $color-blue;
      stroke-width: 1.5px;
    }
  }
}

.support-certification {
  padding: 36px 0 29px 0;
  border-bottom: 1px solid #E9ECEF;
  .grid {
    padding: 0 10px;
    @include columns( $quant: 32.5% 42.2% 25.3%, $gutter: 0, $align: stretch, $template: '');
    .item {
      display: flex;
      align-items: center;
      padding: 0 88px;
      position: relative;
      .icon-box {
        width: 47px;
        height: 50px;
        background: #93FFEC;
        border-radius: 4px;
        margin-right: 17px;
        .icon {
          width: 100%;
          height: 100%;
          fill: transparent;
          stroke: $color-dark-blue;
          stroke-width: 1.5px;
        }
      }
      h3 {
        font-family: $font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: $color-dark-blue;
      }
      &::before {
        content: '';
        width: 1px;
        height: 33px;
        background-color: $color-dark-blue;
        position: absolute;
        left: 0;
        top: 8px;
        opacity: 0.2;
      }
      &:first-child {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.product-card {
  padding: 52px 0;
  .item {
    img {
      width: 100%;
    }
  }
  .grid-4 {
    padding: 0 11px;
    @include columns( $quant: repeat(4, 1fr), $gutter: 28px, $align: stretch, $template: '');
  }
  .grid-3 {
    padding: 0 11px;
    @include columns( $quant: repeat(3, 1fr), $gutter: 28px, $align: stretch, $template: '');
  }
  .grid-2 {
    padding: 0 11px;
    @include columns( $quant: repeat(2, 1fr), $gutter: 28px, $align: stretch, $template: '');
  }
  .grid-1 {
    padding: 0 11px;
    @include columns( $quant: 1fr, $gutter: 28px, $align: stretch, $template: '');
  }
}

.product-item {
  border: 1px solid #E9ECEF;
  padding: 11px;
  margin: 0 11px;
  max-width: 259px;
  .image {
    position: relative;
    padding: 0 0 11px 0;
    .flag {
      position: absolute;
      top: 0;
      left: 1px;
      width: 82px;
      padding: 10px 10px 11px 11px;
      background-color: #EAFFE8;
      font-family: $font-alt2;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #2F6B12;
    }
    img {
      width: 100%;
    }
  }
  .content {
    padding: 0 12px 25px 12px;
    h3 {
      font-family: $font-main;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #212121;
      padding: 0 0 7px 0;
    }
    .price {
      del {
        font-family: $font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #6A7075;
        display: block;
        padding: 0 0 7px 0;
      }
      ins {
        font-family: $font-main;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: $color-blue;
        text-decoration: none;
      }
    }
    .fswp_installments_price {
      font-family: $font-main;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      color: $color-blue;
      display: flex;
      align-items: center;
      .icon {
        width: 24px;
        height: 24px;
        fill: transparent;
        stroke: $color-blue;
        stroke-width: 1.5px;
        margin-right: 5px;
      }
    }
  }
}

.product-list {
  padding: 30px 0 64px 0;
  &.extraptop {
    padding-top: 44px;
    .product-item {
      margin-bottom: 36px;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 23px 48px 18px;
    h2 {
      font-family: $font-main;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      text-align: center;
      color: $color-black;
    }
    span {
      font-family: $font-main;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #7D7D7D;
    }
  }
  .product-items {
    @include columns( $quant: repeat(4, 1fr), $gutter: 0, $align: start, $template: '');
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: $color-blue;
    color: $color-white;
    font-size: 28px;
    margin-top: -55px;
    width: 42px;
    height: 42px;
    &.slick-prev {
      left: -57px;
    }
    &.slick-next {
      right: -57px;
    }
  }
}

.product {
  padding: 0 0 70px 0;
  border-bottom: 1px solid #E9ECEF;
  .grid {
    @include columns( $quant: 57.2% 40%, $gutter: 0, $align: stretch, $template: 'title title' 'photo buy');
    grid-column-gap: 2.8%;
    .title {
      grid-area: title;
      padding: 0 12px 2px 11px;
      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 17px 0;
        h1 {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 130%;
          color: #000000;
        }
        span {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 130%;
          color: #5D748E;
        }
      }
    }
    .photos {
      grid-area: photo;
      padding: 0 0 0 13px;
      .box {
        border: 1px solid #E9ECEF;
        padding: 9px 9px 6px 9px;
        position: relative;
        .flag {
          position: absolute;
          top: 9px;
          right: 9px;
          width: 82px;
          padding: 10px 10px 11px 11px;
          background-color: #EAFFE8;
          font-family: $font-alt2;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          color: #2F6B12;
          z-index: 2;
        }
        .slide {
          .item {
            img {
              width: 100%;
            }
          }
          .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            border: none;
            background-color: transparent;
            color: #5D748E;
            font-size: 28px;
            margin-top: 3px;
            width: 42px;
            height: 42px;
            &.slick-prev {
              left: 0px;
            }
            &.slick-next {
              right: 0px;
            }
          }
        }
      }
    }
    .buy {
      grid-area: buy;
      padding: 0 10px 0 0;
      .box {
        padding: 44px 58px 44px 55px;
        background: #EFEFEF;
        width: 100%;
        height: 100%;
        .price {
          del {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #212121;
            display: block;
            padding: 0 0 8px 0;
          }
          ins {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: #1534C8;
            text-decoration: none;
          }
        }
        .fswp_installments_price {
          font-family: $font-main;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 130%;
          color: #000;
          display: flex;
          align-items: center;
          .icon {
            width: 24px;
            height: 24px;
            fill: transparent;
            stroke: #5D748E;
            stroke-width: 1.5px;
            margin-right: 5px;
          }
        }
        .box-quantity {
          width: 100%;
          height: 47px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 23px 0 0 0;
          background-color: $color-white;
          input {
            text-align: center;
            border: none;
            background: transparent;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #1534C8;
            height: 100%;
            outline: none;
          }
          a {
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
              fill: transparent;
              width: 24px;
              height: 24px;
            }
            &.US_down {}
            &.US_up {}
          }
        }
        .btn {
          margin: 22px 0 0 0;
        }
        .zipcode {
          padding: 22px 0 0 1px;
          h4 {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #212121;
            padding: 0 0 5px 0;
          }
          .inputs {
            position: relative;
            background: $color-white;
            height: 48px;
            .input {
              width: 100%;
              height: 100%;
              input {
                width: 100%;
                height: 100%;
                border: none;
                background: transparent;
                padding: 0 50px 0 19px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: $color-blue;
              }
            }
            .button {
              position: absolute;
              top: 0;
              right: 0;
              width: 40px;
              height: 100%;
              button {
                width: 100%;
                height: 100%;
                color: $color-blue;
                font-size: 19px;
                border: none;
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.description {
  padding: 96px 0 65px 0;
  .box {
    padding: 0 15px 33px 15px;
    border-bottom: 1px solid #E9ECEF;
  }
  h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #212121;
    padding: 0 0 13px 0;
  }
  p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #515151;
  }
}

.text-box {
  padding: 160px 0 111px 0;
  .grid {
    @include columns( $quant: 47% 53%, $gutter: 0, $align: stretch, $template: '');
    .text {
      padding: 0 0 0 11px;
      em {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #8F8F8F;
        padding-bottom: 15px;
        display: block;
      }
      h2 {
        font-family: $font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 130%;
        color: $color-blue;
        padding-bottom: 32px;
      }
      p {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #212121;
        padding-bottom: 27px;
      }
    }
    .image {
      position: relative;
      .absolute {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .full {
        width: 100%;
      }
    }
  }
}

.category-page {
  .grid {
    @include columns( $quant: 20% 74.75%, $gutter: 0, $align: stretch, $template: 'title title' 'sidebar content');
    grid-column-gap: 5.25%;
    .title {
      grid-area: title;
      padding: 0 13px 32px 13px;
      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 42px 0 17px 0;
        border-bottom: 1px solid #E9ECEF;
        h1 {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 140%;
          text-align: center;
          color: #0E2294;
        }
        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          color: #6A7075;
        }
      }
    }
    .sidebar {
      grid-area: sidebar;
      padding: 35px 10px 0 12px;
      .item {
        h2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: #1534C8;
          border-bottom: 1px solid #E9ECEF;
          padding: 0 0 16px 0;
          margin: 0 0 16px 0;
          span {
            width: 18px;
            height: 18px;
            border: 1px solid #5D748E;
            display: block;
            position: relative;
            &::before {
              content: '';
              width: 10px;
              height: 2px;
              position: absolute;
              top: 7px;
              left: 3px;
              background-color: #5D748E;
            }
            &::after {
              content: '';
              width: 2px;
              height: 10px;
              position: absolute;
              top: 3px;
              left: 7px;
              background-color: #5D748E;
              @include animate($time: 0.3s);
              transform: rotate(0deg);
            }
          }
        }
        .item-content {
          // display: none;
          padding: 7px 0 36px 0;
          ul {
            li {
              padding: 0 0 16px 0;
              label {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #000;
                display: flex;
                align-items: center;
                input[type=checkbox] {
                  display: none;
                }
                .input {
                  width: 20px;
                  height: 20px;
                  border: 1px solid #5D748E;
                  display: block;
                  margin-right: 14px;
                  position: relative;
                  @include animate($time: 0.3s);
                  &::before {
                    @include animate($time: 0.3s);
                    content: '';
                    position: absolute;
                    left: 7px;
                    top: 3px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    opacity: 0;
                  }
                }
                input[type=checkbox]:checked~.input {
                  background: #5D748E;
                  &::before {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        &.act {
          h2 {
            span {
              &::after {
                transform: rotate(270deg);
              }
            }
          }
          .item-content {
            display: block;
          }
        }
      }
    }
    .content-area {
      grid-area: content;
      padding: 0 0 26px 0;
      .product-items {
        @include columns( $quant: repeat(3, 1fr), $gutter: 0, $align: start, $template: '');
        .product-item {
          margin-bottom: 32px;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 9px 27px 13px;
  span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6A7075;
  }
  nav {
    width: 310px;
    height: 42px;
    border: 1px solid #8D98A9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    .prev,
    .next {
      width: 58px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #5D748E;
    }
    .prev {
      border-right: 1px solid #8D98A9;
    }
    .next {
      border-left: 1px solid #8D98A9;
    }
    div {
      a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.9167px;
        line-height: 16px;
        color: #8D98A9;
        padding: 0 11px;
      }
      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.9167px;
        line-height: 16px;
        color: #5D748E;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}