/*======================================
  Sliders
======================================*/

.slide-full {
  width: 100%;
  .item {
    width: 100%;
    background: $color-blue;
    text-align: center;
    img {
      display: inline-block;
      width: 100%;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: transparent;
    color: $color-white;
    font-size: 35px;
    margin-top: -23px;
    @include animate($time: 0.3s);
    &.slick-prev {
      left: 50%;
      margin-left: -575px;
    }
    &.slick-next {
      right: 50%;
      margin-right: -575px;
    }
    &:hover {
      transform: scale(1.5);
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .slide-full {
    .slick-arrow {
      font-size: get-vw-lg(35px);
      margin-top: get-vw-lg(-23px);
      &.slick-prev {
        margin-left: get-vw-lg(-575px);
      }
      &.slick-next {
        margin-right: get-vw-lg(-575px);
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .slide-full {
    .slick-arrow {
      font-size: get-vw-sm(35px);
      margin-top: get-vw-sm(-23px);
      &.slick-prev {
        margin-left: get-vw-sm(-375px);
      }
      &.slick-next {
        margin-right: get-vw-sm(-375px);
      }
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .slide-full {
    .slick-arrow {
      font-size: get-vw-xs(35px);
      margin-top: get-vw-xs(-23px);
      &.slick-prev {
        margin-left: get-vw-xs(-575px);
      }
      &.slick-next {
        margin-right: get-vw-xs(-575px);
      }
    }
  }
}